<div id="googlemaps"></div>
<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form>
                    <div class="form-group">
                        <label>Firmenname</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Bundesland</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Straße</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Postleitzahl</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Stadt</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Telefon</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Kategorie</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Webseite</label>
                        <input type="text" class="form-control">
                    </div>
                    <a type="button" class="btn btn-w-m btn-primary pull-right LocRegisterBtn" href="#/index/overview">
                        Registrieren
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>